/*
       ---- 01 Typography
--FONT type

--FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font-weight
400
--line-height
default:1


     
       ----02 colors
primary: #e67e22
--tints
#f5cba7
#fdf2e9
--shades
--accents
--GREY:
#555
#333

     ----05 shadows
     ----06 border radius
     ----07 whitespaces

--SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.5px;
  font-family: "Roboto";
  max-width: 100%;
  overflow-x: hidden;
}
/*
*********************
general components
*********************
*/
.container {
  max-width: 120rem;
  padding: 3.2rem 3.2rem;
  margin: 0 auto;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}
.grid-2-center {
  align-items: center;
}

.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  /* background-color: rgb(104, 63, 199); */
  width: 130rem;
  align-items: center;
}
.hero-section {
  background-color: #f0f5f9;
}
.heading-primary {
  /* grid-column: 1/2; */
  
  font-size: 5.2rem;
  font-weight: 500;
  color: #333;
  line-height: 1.15;
  letter-spacing: -0.6;
  margin-bottom: 4.8rem;
}
.secondary-header {
  font-size: 4.2rem;
  line-height: 1.2px;
  margin-bottom: 7.2rem;
}
.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.2px;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #460000;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
strong {
  font-weight: 800;
}
a {
  text-decoration: none;
}
